<header>
    <nav>
        <h1>Pokémon World</h1>
      </div>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/pokemon">Pokémon</a></li>
        <li><a href="/regions">Regions</a></li>
      </ul>
    </nav>
  </header>