<link rel="stylesheet" href="/css/style.css">
<%- include('../partials/header') %>

<section class="hero">
    <h2><%= welcomeMessage %></h2>
    <img src="/images/poke-ball.jpeg" alt="Pikachu" class="hero-image">
    <p>Explore the wonderful world of Pokmon with this guide.</p>
  </section>
  
  <section class="features">
    <div class="feature">
      <h3>Discover Pokemon</h3>
      <p>Learn about all your favorite Pokemon from these 2 region.</p>
      <a href="/pokemon" class="button">View Pokémon</a>
    </div>
    <div class="feature">
      <h3>Explore Regions</h3>
      <p>Travel through the different regions of the Pokemon world.</p>
      <a href="/regions" class="button">View Regions</a>
    </div>
  </section>
  <%- include('../partials/header') %>
